<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjb.mapper.DUserMapper">
  <resultMap id="BaseResultMap" type="com.zjb.model.DUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.zjb.model.DUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.zjb.model.DUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="PERSONID" jdbcType="VARCHAR" property="personid" />
    <result column="AVAILABLEDATE" jdbcType="DECIMAL" property="availabledate" />
    <result column="DISABLEDATE" jdbcType="DECIMAL" property="disabledate" />
    <result column="SORT" jdbcType="DECIMAL" property="sort" />
    <result column="STOPFLAG" jdbcType="VARCHAR" property="stopflag" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="UPDATEDATE" jdbcType="DECIMAL" property="updatedate" />
    <result column="PICTURE" jdbcType="VARCHAR" property="picture" />
    <result column="SPELLCODE" jdbcType="VARCHAR" property="spellcode" />
    <result column="MOBILENUMBER" jdbcType="VARCHAR" property="mobilenumber" />
    <result column="SERIALNUMBER" jdbcType="VARCHAR" property="serialnumber" />
    <result column="MODIFYPSDATE" jdbcType="DECIMAL" property="modifypsdate" />
    <result column="ERRPSDTIME" jdbcType="DECIMAL" property="errpsdtime" />
    <result column="PCIP" jdbcType="VARCHAR" property="pcip" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.zjb.model.DUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="PERSONID" jdbcType="VARCHAR" property="personid" />
    <result column="AVAILABLEDATE" jdbcType="DECIMAL" property="availabledate" />
    <result column="DISABLEDATE" jdbcType="DECIMAL" property="disabledate" />
    <result column="SORT" jdbcType="DECIMAL" property="sort" />
    <result column="STOPFLAG" jdbcType="VARCHAR" property="stopflag" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="UPDATEDATE" jdbcType="DECIMAL" property="updatedate" />
    <result column="PICTURE" jdbcType="VARCHAR" property="picture" />
    <result column="SPELLCODE" jdbcType="VARCHAR" property="spellcode" />
    <result column="MOBILENUMBER" jdbcType="VARCHAR" property="mobilenumber" />
    <result column="SERIALNUMBER" jdbcType="VARCHAR" property="serialnumber" />
    <result column="MODIFYPSDATE" jdbcType="DECIMAL" property="modifypsdate" />
    <result column="ERRPSDTIME" jdbcType="DECIMAL" property="errpsdtime" />
    <result column="PCIP" jdbcType="VARCHAR" property="pcip" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.zjb.model.DUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
</mapper>